@media (min-width: 1024px) {
  /* 전역 설정 */
  html, body {
    margin: 0; padding: 0;
    font-size: 80px;
    letter-spacing: -2px;
    overflow-x: hidden;
  }
  p { margin: 0; }
  a { text-decoration: none; }
  ul { list-style: none; }

  ::selection {
    background-color: rgb(92,244,131);
    color: white;
  }

  .swiper-slide {
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .swiper-slide img {
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: 11px; height: 11px;
    margin: 0 7px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: rgb(92,244,131);
  }
  .swiper-button-disabled { display: none; }

  .sec-inner {
    width: 1080px;
    padding: 0 40px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
  }
  .sec-title {
    font-size: 44px;
    margin-top: 90px;
    font-weight: bold;
  }



  /* 헤더 */
  #header-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  #header {
    width: 1060px; height: 70px;
    /* padding: 5px 18vw; */
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
  }
  #logo-wrap {
    width: 225.6px;
    display: flex;
    align-items: center;
  }
  #logo {
    width: 100%; height: 100%;
    background-image: url('image/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  #nav {
    font-size: 15.2px;
    font-weight: bold;
    display: flex;
    align-items: center;
    letter-spacing: 0;
  }
  #nav li {
    padding: 0 15px;
    color: gray;
    cursor: pointer;
  }
  #nav li:hover {
    transition: .3s ease;
    color: black;
  }
  #nav li:not(:hover) {
    transition: .3s ease;
    color: gray;
  }
  #side-icon { display: none; }
  #side-wrap { display: none; }



  /* 배너 */
  #banner {
    width: 100%; height: 628px;
    background-image: url('image/banner_1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  #banner-bt {
    width: 208px; height: 62.4px;
    background-color: rgb(0,255,149);
    margin-top: 505.6px;
    border-radius: 9.6px;
    font-size: 17.6px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #banner-bt:hover {
    transition: .5s ease;
    background-color: white;
  }
  #banner-bt:not(:hover) {
    transition: .5s ease;
    background-color: rgb(0,255,149);
  }



  /* 섹션 1 */
  #section1 {
    width: 100%;
    margin-bottom: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sec1-head {
    font-size: 44px;
    margin: 112px 0 48px 0;
    text-align: center;
  }
  #sec1-text {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
  #sec1-tail {
    margin-top: 59.2px;
    font-size: 27.2px;
    font-weight: bold;
    text-align: center;
  }
  #sec1-bt {
    width: 226.4px; height: 67.2px;
    background-color: rgb(92,244,131);
    margin-top: 52px;
    border-radius: 8.8px;
    font-weight: bold;
    font-size: 19.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #sec1-bt:hover {
    transition: .5s ease;
    background-color: black;
    color: white;
  }
  #sec1-bt:not(:hover) {
    transition: .5s ease;
    background-color: rgb(92,244,131);
  }



  /* 슬라이드 1 */
  #slide1 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
  }
  #slide1 .swiper-wrapper { transition-timing-function: linear; }



  /* 슬라이드 2 */
  #slide2 {
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    background-color: white;
  }
  .sw2 { width: 65%; }
  .sw2 .swiper-button-next::after,
  .sw2 .swiper-button-prev::after {
    color: gray;
    font-size: 25.6px;
  }
  .sw2-pagination {
    display: none;
  }
  .sw2 .swiper-slide:nth-child(1) { content: url('image/slide2_1_1.jpg'); }
  .sw2 .swiper-slide:nth-child(2) { content: url('image/slide2_2_1.jpg'); }
  .sw2 .swiper-slide:nth-child(3) { content: url('image/slide2_3_1.jpg'); }



  /* 섹션 2 */
  #section2 {
    width: 100%;
    padding-bottom: 120px;
    background-color: rgb(249,250,251);
    display: flex;
    justify-content: center;
  }
  #benefit-wrap {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefit {
    width: 32%;
    margin-right: 16px;
  }
  .last { margin: 0; }
  .benefit:nth-child(4),
  .benefit:nth-child(5),
  .benefit:nth-child(6) { margin-top: 16px; }



  /* 슬라이드 3 */
  #slide3 {
    width: 100%;
    padding-bottom: 80px;
    background-image: url('image/slide3_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .second {
    color: white;
    margin-top: 60px;
  }
  .sw3 {
    width: 92vw;
    max-width: 1080px;
    margin-top: 52px;
  }
  .sw3-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }



  /* 스케줄 */
  #schedule {
    width: 100%;
    padding-bottom: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .third { margin-top: 100px; }
  #calendar {
    font-size: 14px;
    margin-top: 40px;
    height: 550px !important;
  }
  .fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fc-toolbar-title {
    font-weight: normal;
    /* font-size: 20px !important; */
  }
  .fc-button-group { margin-left: 16px !important; }
  .fc-button-group button {
    width: 64px; height: 33.6px;
    padding: 0 !important;
    border: solid 1px lightgray !important;
    background-color: white !important;
    color: gray !important;
  }
  .fc-button-group button:active {
    background-color: rgb(92,244,131) !important;
    color: white !important;
  }
  .fc-button-group button:focus { box-shadow: none !important; }
  .fc th { text-align: left; height: 40px; }
  .fc th a { margin: 4px 0 0 4px; }
  .fc .fc-daygrid-day-top { flex-direction: row; }
  .fc .fc-daygrid-day-top a { margin: 2px 0 0 2px; }
  .fc-event-title { margin-left: 2px; }
  .fc-day-today { background: rgba(92,244,131,.1) !important; }



  /* 섹션 3 */
  #section3 {
    width: 100%;
    padding-bottom: 80px;
    background-image: url('image/section3_1.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  #sec3-head {
    font-size: 36px;
    margin: 100px 0 40px 12px;
    color: rgb(68,68,68);
  }
  #sec3-text {
    font-size: 17.6px;
    line-height: 32px;
    margin-left: 12px;
  }
  #sec3-bt {
    width: 202.4px; height: 62.8px;
    background-color: rgb(50,50,50);
    color: white;
    margin-top: 40px;
    border-radius: 9.6px;
    font-weight: bold;
    font-size: 18.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 12px;
  }
  #sec3-bt:hover {
    transition: .5s ease;
    background-color: rgb(92,244,131);
    color: black;
  }
  #sec3-bt:not(:hover) {
    transition: .5s ease;
    background-color: rgb(50,50,50);
  }



  /* 푸터 */
  #footer {
    width: 100%;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(68,68,68);
    letter-spacing: -1px;
  }
  #footer-inner {
    width: 1060px;  height: 75.6px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #info {
    display: flex;
    align-items: center;
  }
  #policy {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }
  #policy li {
    margin-right: 8px;
  }
  #policy li:nth-child(1):after,
  #policy li:nth-child(2):after {
    content: "|";
    color: rgb(68,68,68);
    margin-left: 8px;
  }
  #copyright { letter-spacing: 0; }
  #footer a { color: rgb(68,68,68); }



  /* 팝업 */
  #popup {
    position: fixed;
    cursor: pointer;
    width: 320px; height: 200px;
    right: 0; bottom: 0;
    z-index: 998;
  }
  #popup img { position: absolute; }
  #popup-x {
    position: absolute;
    width: 20.8px; height: 19.6px;
    top: 34.4px; right: 49.6px;
    border-radius: 999px;
    background-color: darkgrey;
    cursor: pointer;
  }
  #popup-x #mark {
    font-size: 20px;
    color: rgb(68,68,68);
    margin-left: 6.72px;
  }
  #popup-x #mark::before {
    content: '\02DF';
  }
  #popup-bt {
    top: 94.4px; left: 38.8px;
    cursor: pointer;
  }
  #popup-bg {
    content: url('image/popup_1.png');
    width: 100%;
  }
}