@media (max-width: 767px) {
  /* 전역 설정 */
  html, body {
    margin: 0; padding: 0;
    font-size: 80px;
    letter-spacing: -1px;
    overflow-x: hidden;
  }
  p { margin: 0; }
  a { text-decoration: none; }
  ul { list-style: none; }

  ::selection {
    background-color: rgb(92,244,131);
    color: white;
  }

  .swiper-slide {
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .swiper-slide img {
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: 9.6px; height: 9.6px;
    margin: 0 5px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: rgb(92,244,131);
  }
  .swiper-button-disabled { display: none; }

  .sec-inner {
    width: 100%;
    padding: 0 30px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
  }
  .sec-title {
    font-size: 25px;
    margin-top: 45px;
    font-weight: bold;
  }



  /* 헤더 */
  #header-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  #header {
    width: 100%; height: 45px;
    padding: 5px 26px;
    display: flex;
    justify-content: space-between;
  }
  #logo-wrap {
    width: 150px;
    display: flex;
    align-items: center;
  }
  #logo {
    width: 100%; height: 100%;
    background-image: url('image/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  #nav {
    display: none;
  }
  #icon-wrap {
    display: flex;
    align-items: center;
  }
  #side-icon {
    font-size: 22px;
    cursor: pointer;
  }
  #side-bg {
    position: fixed;
    width: 100%; height: 100%;
    top: 0; right: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    display: none;
  }
  #side-inner {
    position: fixed;
    z-index: 999;
  }
  #side-x {
    position: fixed;
    top: 13px; right: 270px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: none;
  }
  #side-nav {
    position: fixed;
    width: 255px; height: 100%;
    top: 0; right: -255px;
    font-size: 14.2px;
    background-color: white;
  }
  .side-el {
    width: 100%;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(60,60,60,.1);
    cursor: pointer;
  }
  .slide-in { animation: slide-in .5s forwards; }
  @keyframes slide-in {
    0% {
      right: -255px;
    }
    100% {
      right: 0;
    }
  }
  .slide-out { animation: slide-out .5s forwards; }
  @keyframes slide-out {
    0% {
      right: 0px;
    }
    100% {
      right: -255px;
    }
  }



  /* 배너 */
  #banner {
    width: 100%; height: 455px;
    background-image: url('image/banner_2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }
  #banner-bt {
    width: 176px; height: 52.8px;
    background-color: rgb(0,255,149);
    margin-top: 351px;
    border-radius: 8.8px;
    font-size: 15.2px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s ease;
  }
  #banner-bt:hover {
    background-color: white;
  }



  /* 섹션 1 */
  #section1 {
    width: 100%;
    padding-bottom: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sec1-head {
    font-size: 26px;
    margin: 44px 0 42px 0;
    text-align: center;
  }
  #sec1-text {
    font-size: 13px;
    text-align: center;
    line-height: 1.7;
  }
  #sec1-tail {
    font-size: 19px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
  }
  #sec1-bt {
    width: 158px; height: 50px;
    background-color: rgb(92,244,131);
    margin-top: 33.5px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color,background-color .5s ease;
  }
  #sec1-bt:hover {
    background-color: black;
    color: white;
  }



  /* 슬라이드 1 */
  #slide1 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
  }



  /* 슬라이드 2 */
  #slide2 {
    width: 100%;
    padding: 80px 0;
    display: flex;
    align-items: center;
    background-color: white;
  }
  .sw2 .swiper-button-next::after,
  .sw2 .swiper-button-prev::after {
    display: none;
  }
  .sw2-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }



  /* 섹션 2 */
  #section2 {
    width: 100%;
    padding-bottom: 60px;
    background-color: rgb(249,250,251);
    display: flex;
    justify-content: center;
  }
  #benefit-wrap {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .benefit {
    width: 87%;
    margin-bottom: 24px;
  }
  .benefit:last-child { margin: 0; }



  /* 슬라이드 3 */
  #slide3 {
    width: 100%;
    padding-bottom: 60px;
    background-image: url('image/slide3_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .second {
    color: white;
    margin-top: 48px;
  }
  .sw3 {
    width: 90vw;
    margin-top: 32px;
  }
  .sw3-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }



  /* 스케줄 */
  #schedule {
    width: 100%;
    padding-bottom: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .third { margin-top: .6rem; }
  #calendar {
    font-size: 14px;
    margin-top: 40px;
  }
  .fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fc-toolbar-title {
    font-weight: normal;
    font-size: 20px !important;
  }
  .fc-button-group { margin-left: 16px !important; }
  .fc-button-group button {
    width: 52px; height: 29.6px;
    padding: 0 !important;
    border: solid 1px lightgray !important;
    background-color: white !important;
    color: gray !important;
  }
  .fc-button-group button:active {
    background-color: rgb(92,244,131) !important;
    color: white !important;
  }
  .fc-button-group button:focus { box-shadow: none !important; }
  .fc th { text-align: left; height: 40px;}
  .fc th a { margin: 4px 0 0 4px; }
  .fc .fc-daygrid-day-top { flex-direction: row; }
  .fc .fc-daygrid-day-top a { margin: 2px 0 0 2px; }
  .fc-event-title { margin-left: 2px; }
  .fc-day-today { background: rgba(92,244,131,.1) !important; }



  /* 섹션 3 */
  #section3 {
    width: 100%;
    padding-bottom: 320px;
    background-image: url('image/section3_2.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  }
  #section3 .sec-inner { align-items: center; }
  #sec3-head {
    font-size: 24px;
    margin: 49.6px 0 20px 0rem;
    color: rgb(68,68,68);
    text-align: center;
  }
  #sec3-text {
    font-size: 14.4px;
    line-height: 24px;
    margin-left: 0;
    text-align: center;
  }
  #sec3-bt {
    width: 160px; height: 48px;
    background-color: rgb(50,50,50);
    color: white;
    margin-top: 36px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color,background-color .5s ease;
  }
  #sec3-bt:hover {
    background-color: rgb(92,244,131);
    color: black;
  }



  /* 푸터 */
  #footer {
    width: 100%; height: 121px;
    background-color: white;
    font-size: 9.6px;
    display: flex;
    justify-content: center;
    color: rgb(68,68,68);
  }
  #footer-inner {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
  }
  #policy {
    display: flex;
    align-items: center;
    padding: 0;
  }
  #policy li {
    margin-right: 8px;
  }
  #policy li:nth-child(1):after,
  #policy li:nth-child(2):after {
    content: "|";
    color: rgb(68,68,68);
    margin-left: 8px;
  }
  #copyright {
    margin-top: 32px;
    letter-spacing: 0;
  }
  #footer a { color: rgb(68,68,68); }



  /* 팝업 */
  #popup {
    position: fixed;
    cursor: pointer;
    width: 100%; height: 28.3vw;
    right: 0; bottom: 0;
    z-index: 998;
  }
  #popup img { position: absolute; }
  #popup-x { display: none; }
  #popup-bt { display: none; }
  #popup-bg {
    content: url('image/popup_2.png');
    width: 100%;
  }
}